body {
    background-color: lightblue;
  }
  
  h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: darkblue;
   
  }
  
  p {
    border: 1px solid black;
    padding: 15px;
  }
  
  .box {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: purple;
  }
  
  footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: darkgray;
  }